<!DOCTYPE html>
<html>
  <head>
    <title>
      Epsilon - Chatbot
    </title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/epsilon.css') }}"
    />
  </head>
  <body>
    <main>
      <h1>Epsilon - The Sympatic Chatbot</h1>
      <article>
        {% for message in messages %}
          <p class="message {{message.sender}}">{{message.text}}</p>
        {% endfor %}
      </article>
      <form action="" method="post" novalidate>
        <label>
          <span>
            Message:
          </span>
          <textarea name="message">
          </textarea>
        </label>
      </form>
    </main>
  </body>
  <script>
    const messageField = document.querySelector("textarea");
    const form = document.querySelector("form");
    messageField.addEventListener("keyup", function(event) {
      if (event.keyCode == 13) {
        form.submit();
      }
    })
  </script>
</html>
