* { box-sizing: border-box }

html, body, main {
  padding: 0;
  margin: 0; 
  height: 100%;
  width: 100%;
}

main {
  background: #f6f6f6;
  display: grid;
  grid-template-rows: 100px calc(100% - 200px) 100px;
  padding: 50px;
}

article {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

article .message {
  padding: 20px;
}

article .me {
  background: white;
  align-self: flex-start;
  border-radius: 20px 20px 20px 0;
}

article .them {
  background: lightblue;
  align-self: flex-end;
  border-radius: 20px 0 20px 20px;
}
